extends layout 

block content 
    h1 $ whoami
    a(href="/pictures/jan.png") #[img(src="/pictures/jan.png" width="200px")]
    p I'm János and I live in Gothenburg, Sweden. I'm a Software Engineering Student at a joint programme between Chalmers University of Technology and the University of Gothenburg. I'm passionate about solving problems and building things.
    h2 Contact
    ul
        li #[a(href="mailto:janos.litkei@gmail.com") Email]
        li #[a(href="https://github.com/jnsltk") Github]
    h2 Skills
    ul
        li #[strong Languages:] Java, JavaScript, (some) Python
        li #[strong Frameworks:] Svelte, Vue, Tailwind 
        li #[strong Others:] Git, Docker, NodeJS, Linux, SQL, mongo
    h2 Fun facts
    ul
        li I'm fluent in English, Hungarian and Mandarin Chinese
        li I have a Bachelor's degree in Chinese Language and Culture
        li I love analogue photography
        li I love hiking, and taking long walks in nature
        li I'm not on social media
    h2 Tools
    ul
        li #[strong Computer:] ThinkPad T440
        li #[strong OS:] Arch Linux
        li #[strong Editor:] Vim (neovim) 
    br

