extends layout 

block content 
    p As I said on the main page, I am a Hungarian Software Engineering student based in Gothenburg, Sweden.
    h2 My interests
    p There are many things I'm interested in, or like to do in my free time. For example: 
        h3 Reading
        p I really like reading. Recently I am also trying to read more. My plan for next year (2024) is to read 26 books, so one book every two weeks. You can check out #[a(href='https://www.goodreads.com/user/show/169592443-janos-litkei' target="_blank") my profile] on GoodReads to see what I'm reading right now. 
        p I usually use my iPhone for reading, although I'm considering to buy an eInk device. I'll be sure to make a blog post about it if I do get one! For now, my phone works okay, it has an OLED display so reading white text on a black background is fairly easy on my eyes.
        p Recently I have also gotten into audiobooks. They're really convenient, and they're a great way to enjoy a book while I'm doing other things, like commuting or doing household chores.
        p I mainly read (and listen) in English, sometimes Hungarian, and rarely Chinese (mostly for learning). 
        h3 Languages
        p I really like languages, I have always been interested in them. For a while I thought I wanted to be a translator and/or interpreter, and although I have changed my mind since, my love for languages remains. I can speak/ have dabbled in the following languages:
        ul 
            li #[em Hungarian:] My one and only native language which I (obviously) speak fluently.
            li #[em English:] The first foreign language I have learned, it's still the one I speak best. I've been learning it since I was 15, although in recent years I haven't actually done any 'active studying'.
            li #[em Mandarin Chinese:] I learned Chinese while studying at university for 3 years back in Hungary. I have a Bachelor's degree in #[em Oriental Languages and Cultures, with a specialisation in Chinese] (whatever that means). I also attended a one-year-long Chinese language course in Taiwan, which really helped me further develop and deepen my knowledge of Chinese. As a result, I can say that today I am fluent in Chinese, and I can read and write in both Simplified and Traditional characters.
            li #[em Slovak:] I speak a little bit of Slovak, since I studied it for a year at university. I don't speak it too well, and I've forgotten a lot of it, but it's a language I really like. Slovakia is a really beautiful country, that I think everyone should visit, and Slovaks are some of the nicest people I've met.
        h3 Chinese Language, Culture, etc.
        p I think this deserves its own section, since it's really important to me. 
        p I have many friends from both Mainland China and Taiwan, and I regularly speak with them in Chinese. Next year, I plan on going to Shanghai for half a year to do an exchange. 
        p I feel like the fact that I speak Chinese is a really important part of me. The year I've spent in Taiwan is one of the most important, most influental years of my life.
        p Taiwan is a beautiful and often overlooked part of the world, that I think everyone should visit, especially if they like nature, since Taiwan's mountains are the most beautiful I've seen. They're also very accessible. I actually want to make a blog post about hiking in the Taiwanese mountains too, so stay tuned.
        h3 Linux and technology
        img(src="/pictures/arch.png" class="center-image")
        p I have used linux for a long time, with a few breaks in between, but I've always come back to it.
        p I love ThinkPads, I've been using one for the past 6 years, and I can't see myself to upgrading to anything else than a ThinkPad.
        p I also love open-source and free software, I try to use OSS and free as in freedom tools as much as I can. For now, this is especially true for desktop (I still use an iPhone).
        p I also just really like technology, also OLD technology (think crts, casette tapes and casio watches).
        p I plan on writing a blog post where I go into more detail about my Linux setup, as well as the gear I use. My love for Linux and tech is pretty much the reason behind creating this site and blog. It's built and and run using open-source software only.
        h3 Analogue photography
        p I have enjoyed taking photos with 'outdated' analogue cameras since I was like 12, which is funny since at the time it wasn't even #[em that] outdated. 
        p I regularly shoot film, and I have a collection of analogue cameras (my current favorite is my Nikon N80). If only I had instagram, you could check out my photos... Luckily for you, I have some of my photos on #[a(href="https://grainery.app/u/jnsltk" target="_blank") the grainery app].
        p My favorite color films are Kodak Gold and Ultramax, and my favorite black and white filems are HP5 and Fomapan 400.
        h3 Hiking and nature
        p I used to go hiking every couple of weeks when I lived in Taiwan. Since then life has become more complicated and busy, and although I haven't had the chance to go proper hiking in a long time, I still enjoy to take walks in nature (which is quite easy to do in Sweden).
 
