extends layout 

block content 
    p Welcome to my website.
    h2 Who are you?
    a(href="/pictures/jan.png") #[img(src="/pictures/jan.png" width="200px")]
    p My name is János Litkei, and I was born in 1998 in Hungary, but I have lived in a couple different places already, such as Northern Ireland or Taiwan. 
    p Right now I live in Sweden, where I'm a second-year Software Engineering Student at the University of Gothenburg.
    p To find out more about me, you can visit this link: #[a(href="/about") ABOUT ME]
    h2 What is this website? Don't you already have one?
    p I do. You are welcome to check it out at #[a(href='https://janoslitkei.com' target="_blank") janoslitkei.com]. It's built using Svelte and Tailwind, and it's deployed on vercel. 
    p This one is different though. I kind of got inspired by sites like #[a(href='https://motherfuckingwebsite.com/' target="_blank") motherfuckingwebsite.com] and #[a(href='https://perfectmotherfuckingwebsite.com/' target="_blank") perfectmotherfuckingwebsite.com].
    p You see, while the website I built looks kind of cool and pretty, it is quite large in size and slow to load. I hate to admit it, but it's pretty much what the sites above are made to warn against. 
    p So I wanted to build something different. Something simpler. 
    h2 It's also just more personal 
    p The way I think about it, #[a(href='https://janoslitkei.com/' target="_blank") janoslitkei.com] is the website I'll put on my LinkedIn, or in my CV, whereas this is something more personal, especially since it includes a blog. Something instead of social media. Oh yeah, I'm not on social media by the way (I'll probably write a post about that too at some point). It's for sharing my thoughts, ideas and snippets of my life.
    hr
    h2 Enjoy!
    p So that's it. Have fun reading, and I hope you can gain something useful from my posts. If you have any questions, #[a(href="mailto:janos.litkei@gmail.com") drop me an email]! 
    br
    blockquote 
        p “Sometimes when I close my eyes, I can't see.” — Albert Einstein, probably
    p #[em (I just wanted to try out blockquotes i'm sorry)]
    br

