extends layout 

block content 
    p Welcome to my simple website.
    h2 About me
    p My name is János Litkei, and I was born in 1998 in Hungary, but I have lived in a couple different places already, such as Northern Ireland or Taiwan. 
    p Right now I live in Sweden, where I'm a second-year Software Engineering Student at the University of Gothenburg.
    p There are many things I'm interested in, or like to do in my free time. For example: 
    ol 
        li #[strong Reading:] I really like reading. Recently I am also trying to read more. My plan for next year is to read 26 books a year, so one book every two weeks. You can check out #[a(href='https://www.goodreads.com/user/show/169592443-janos-litkei' target="_blank") my profile] on GoodReads to see what I'm reading right now. I mainly read in English, sometimes Hungarian, and rarely Chinese (mostly for learning). 
        li #[strong Languages:] I really like languages. I speak Hungarian (my native language), English, which was the first foreign language I learned properly, and Mandarin Chinese which I've learned at university, and while living for a year in Taiwan. I'm currently also trying to learn Swedish, although I'm more in the process of figuring out how exactly I should go about doing that.
        li #[strong Chinese Language, Culture, etc.:] I think this deserves its own bullet point, since it's really important to me. I feel like the fact that I speak Chinese is a really important part of me. I have many friends from both Mainland China and Taiwan, and I regularly speak with them in Mandarin. Next year, I plan to go to Shanghai for half a year to do and exchange. 
        li #[strong Linux and technology:] I have used linux for a long time, and I also just really like technology. I plan on writing a blog post about my Linux setup, as well as the gear I use. My love for Linux and tech is pretty much the reason behind creating this site and blog. Which conveniently brings me to the next section.
    h2 What is this website? Don't you already have one?
    p I do. You are welcome to check it out at #[a(href='https://janoslitkei.com' target="_blank") janoslitkei.com]. It's built using Svelte and Tailwind, and it's deployed on vercel. 
    p This one is different though. I kind of got inspired by sites like #[a(href='https://motherfuckingwebsite.com/' target="_blank") motherfuckingwebsite.com] and #[a(href='https://perfectmotherfuckingwebsite.com/' target="_blank") perfectmotherfuckingwebsite.com].
    p You see, while the website I built looks kind of cool and pretty, it is quite large in size and slow to load. I hate to admit it, but it's pretty much what the sites above are made to warn against. 
    p So I wanted to build something different. Something simpler. 
    h2 It's also just more personal 
    p The way I think about it, #[a(href='https://janoslitkei.com/' target="_blank") janoslitkei.com] is the website I'll put on my LinkedIn, or in my CV, whereas this is something more personal, especially since it includes a blog. Something instead of social media. Oh yeah, I'm not on social media by the way (I'll probably write a post about that too at some point). It's for sharing my thoughts, ideas and snippets of my life.
    hr
    h2 Enjoy!
    p So that's it. Have fun reading, and I hope you can gain something useful from my posts. If you have any questions, #[a(href="mailto:janos.litkei@gmail.com") drop me an email]! And remember,
    blockquote 
        p “Sometimes when I close my eyes, I can't see.” — Albert Einstein, probably


