extends layout 

block content 
    h2 Hello!
    p Welcome to my blog.
    p My name is János Litkei, and I am a Hungarian Software Engineering student studying in Gothenburg, Sweden. You can find out a bit more about me at #[a(href='/about') ABOUT ME].
    p To see some of my projects and the things I've been working on you can visit my portfolio at #[a(href='https://janoslitkei.com' target="_blank") janoslitkei.com]. 
    p This website is a bit more personal, and it's mainly a blog, built in the spirit of sites like #[a(href='https://motherfuckingwebsite.com/' target="_blank") this] and #[a(href='https://perfectmotherfuckingwebsite.com/' target="_blank") this].
    h2 Enjoy reading!
    p I hope you can gain something useful from my posts. If you have any questions, #[a(href="mailto:janos.litkei@gmail.com") drop me an email]! 
    br

