doctype html 
html(lang='en')
    head 
        title= title
        link(rel='stylesheet', href='/css/style.css')
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="icon" type="image/png" sizes="512x192" href="/favicon/android-chrome-512x512.png")
        link(rel="icon" type="image/png" sizes="192x192" href="/favicon/android-chrome-192x192.png")
        link(rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png")
        link(rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png")
        link(rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/styles/github-dark.min.css")
    body 
        header
            h1.site-title= title 
            nav 
                h3
                    a(href="/") Home
                    |  // 
                    a(href="/blog") Blog
            hr
        main
            block content
        footer 
            hr
            p #[em Built using Free and Open Source Software]
