@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;600&display=swap');

body {
    max-width:650px;
    margin:40px auto;
    padding:0 10px;
    font:16px/1.6 "Noto Sans", "Liberation Sans", sans-serif;
    color:#444
}
h1,
h2,
h3 {
    line-height: 1.2;
    font-family: "EB Garamond", serif;
    font-weight: 600;
}
.title {
    line-height: 1;
}
pre {
    border: 1px solid #c9d1d9;
    border-radius: 2px;
}
footer {
    text-align: center;
}
.center-image {
    max-width: 300px;
}
@media (prefers-color-scheme: dark) {
    body {
        color:#c9d1d9;
        background:#0d1117
    }
    a:link {
        color:#58a6ff
    }
    a:visited {
        color:#8e96f0
    }
}

